.page-container {
    --bg-color: #F9FAFB;
    --max-w: 1280px;
    --pad: 0px;
    --m-top: 0px;
    --m-bottom: 80px;
    --gap-size: 32px;
    --min-h: calc(100vh - 65px);

    width: 100%;
    max-width: var(--max-w);
    margin: var(--m-top) auto var(--m-bottom) auto;
    padding: var(--pad);
    background: var(--bg-color);
    min-height: var(--min-h);
    
    display: flex;
    flex-direction: column;
    gap: var(--gap-size);
}